<h1>My Cart</h1>

<div>
    <% @line_items.each do |line_item| %>
        <p><strong><%= line_item.product.name %></strong></p>
        <p><%= number_to_currency (line_item.product.price) %></p>
        <p>Quantity: <%= line_item.quantity %></p>
        <p>Subtotal: <%= number_to_currency line_item.line_item_total %></p>
        
        
        <!-- Add to Cart button -->
        <p>
            <%= form_tag(add_to_cart_path(product_id: line_item.product.id, to_view: true)) do %>
                <%= number_field_tag :quantity, nil, placeholder: "How many?" %><br />
                <%= submit_tag "Add these items", class: "btn btn-success" %>
            <% end %>
        </p>
        <!-- Remove from Cart button -->
        <p>
            <%= form_tag(remove_from_cart_path(line_item_id: line_item.id)) do %>
                <%= number_field_tag :quantity, nil, placeholder: "How many?" %><br />
                <%= submit_tag "Remove these items", class: "btn btn-danger" %>
            <% end %>
        </p>
    <% end %>
</div>

<div>
    <%= link_to "Proceed to checkout?", checkout_path, class: "btn btn-success" %>
</div>